/**
 *
 * @file: 登录页面样式文件
 *
 */
.view-port{
	position: absolute;
    width: 100%;
    min-height: 625px;
    height: 100%;
    background: #137fd3 url(../images/login-bg.png) no-repeat center center;
    background-size: cover;
}
.login.header{
	margin-bottom:0;

}
.login .navbar-default{
	background-color: #fff;
	border:0;
	margin-bottom: 0;
	height:70px;
	line-height: 70px;
	border-radius: 0px;
}
.login.log-main{

}

.login .ad-wrap{
	position: absolute;
    top: 50%;
    margin-top: -254px;
	height: 509px;
	background: url(../images/login-ad.png) 100% 50% no-repeat;
}

.login .login-wrap{
	position: absolute;
    top: 50%;
    right: 0;
    margin-top: -254px;
	padding-top:45px;
	padding-left:60px;
}

.login .login-box{
	width:390px;
	height:407px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
}

.login .navbar-brand{
	height: 70px;
}
.login .navbar-brand img{
	width:251px;
	height: 37px;
}

.login-box .box-header{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	height: 59px;
	line-height: 59px;
	border:0;
	border-bottom:1px solid #dcdcdc;

}

.login-form{
	padding:40px;
}

.login-form .form-group{
	margin-bottom: 30px;
	margin-left:0;
}

.login-form .control-label{
	color:#a1a1a1;
	padding-top:10px;
	padding-right:0;
	text-align: left;
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-right:0;
	padding-bottom: 6px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
}

.login .control-label .icon{
	float:left;
	width: 40px;
	height:24px;
	margin-top: -2px;
}

.ico-user{
	background: url(../images/ico-user.png) 0 0 no-repeat;
}

.ico-password{
	background: url(../images/ico-password.png) 0 0 no-repeat;
}

.login-form .form-control{
	height:40px;
	border-color:#dcdcdc;
	border-radius:0;
	border-left:0px;
}

.login-form .btn-group{
	width:310px;
	position: absolute;
	bottom:60px;
}

.login-form .alert{
	margin-right: 15px;
	padding:0;
}

.login-form .alert-danger{
	margin-top: -19px;
	background-color: #fff;
	border: 0;
}

.form-group .pdl0{
	padding-left:0;
}

.btn-login{
	border-radius:0;
	border-color:#5897e4;
	color:#5897e4;
	font-weight: bold;
}



.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login:visited{
    color:#fff;
    border-color: #31b0d5;
    background-color: #31b0d5;
}

.btn-login.disabled,
.btn-login.disabled:hover,
.btn-login.disabled:focus,
.btn-login.disabled:active,
.btn-login.disabled:visited{
    color:#ccc;
    background-color:#1d1d1d;
    border-color:#1d1d1d;

}

.login.footer{
	background-color: #fff;
    line-height: 60px;
    height: 90px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.login.footer p{
	margin-bottom: 0;
}
