<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" novalidate>
            <div class="form-group" ng-if="isEditPwd">
                <label class="control-label col-lg-2">原密码<span class="sign-must">*</span></label>
                <div class="col-lg-9">
                    <input class="form-control" type="password" autocomplete="false" ng-model="userList.init.pwdModalForm.oldPassWord" ng-change="validateForm('oldPassWord','pwd')" placeholder="输入原密码">
                    <div class="validate-container">
                        <span ng-if="validate.pwd.oldPassWord.dirty && validate.pwd.oldPassWord.error.required">
                            原密码不能为空
                        </span>
                        <span ng-if="validate.pwd.oldPassWord.dirty && validate.pwd.oldPassWord.error.format">
                            密码为 8-20 位字母与数字的组合
                        </span>
                        <span ng-if="validate.pwd.oldPassWord.dirty && validate.pwd.oldPassWord.error.same">
                            原密码错误
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.pwd.oldPassWord.dirty && validate.pwd.oldPassWord.invalid"></i>
                    <i class="valid-success" ng-if=" validate.pwd.oldPassWord.dirty && validate.pwd.oldPassWord.valid"></i>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">新密码<span class="sign-must">*</span></label>
                <div class="col-lg-9">
                    <input class="form-control" type="password" autocomplete="false" ng-model="userList.init.pwdModalForm.passWord" ng-change="validateForm('passWord','pwd')" placeholder="输入新密码">
                    <div class="validate-container">
                        <span ng-if="validate.pwd.passWord.dirty && validate.pwd.passWord.error.required">
                            新密码不能为空
                        </span>
                        <span ng-if="validate.pwd.passWord.dirty && validate.pwd.passWord.error.format">
                            密码为 8-20 位字母与数字的组合
                        </span>
                        <span ng-if="validate.pwd.passWord.dirty && validate.pwd.passWord.error.same">
                            密码不能和账号相同
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.pwd.passWord.dirty && validate.pwd.passWord.invalid"></i>
                    <i class="valid-success" ng-if=" validate.pwd.passWord.dirty && validate.pwd.passWord.valid"></i>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">确认密码<span class="sign-must">*</span></label>
                <div class="col-lg-9">
                    <input class="form-control" type="password" autocomplete="false" ng-model="userList.init.pwdModalForm.repeatPassWord" ng-change="validateForm('repeatPassWord','pwd')" placeholder="请再次输入">
                    <div class="validate-container">
                        <span ng-if="validate.pwd.repeatPassWord.dirty && validate.pwd.repeatPassWord.error.required">
                            请再次输入以确认新密码
                        </span>
                        <span ng-if="validate.pwd.repeatPassWord.dirty && validate.pwd.repeatPassWord.error.format">
                            密码为 8-20 位字母与数字的组合
                        </span>
                        <span ng-if="validate.pwd.repeatPassWord.dirty && validate.pwd.repeatPassWord.error.same">
                            两次密码不一致
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.pwd.repeatPassWord.dirty && validate.pwd.repeatPassWord.invalid"></i>
                    <i class="valid-success" ng-if=" validate.pwd.repeatPassWord.dirty && validate.pwd.repeatPassWord.valid"></i>
                </div>
            </div>
        </form>
    </div>
</div>
