<div class="view-port" ng-init="init()">
    <div class="header login">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="col-lg-6" src="src/images/login-logo.png" alt="LOGO">
                </a>
            </div>
        </div>
    </div>
    <div class="log-main container-fluid login">
        <div class="row">
            <div class="col-lg-6 col-md-5 hidden-sm hidden-xs ad-wrap">
            </div>
            <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 login-wrap">
                <div class="login-box">
                    <div class="box-header">用户登录</div>
                    <form class="form-horizontal login-form">
                        <div class="form-group">
                        <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="icon ico-user"></span></label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pdl0">
                                <input id="J_tUser"  type="text" class="form-control" ng-model="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="icon ico-password"></span></label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pdl0">
                                <input id="J_tPwd"  type="password" class="form-control" ng-model="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- 提示信息 s -->
                            <div class="alert alert-danger" role="alert" ng-show="errorMsg!=''">
                                {{errorMsg}}
                            </div>
                            <!-- 提示信息 e -->
                        </div>
                        <div class="btn-group">
                            <button id="J_tSubmit"  class="btn btn-default btn-block btn-lg btn-login" ng-click="clickSubmit($event)">登 录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer login">
        <div class="container-fluid">
            <div class="row">
                <p class="text-center">DATA SUPPORTING PLATFORM 数据支撑平台 V1.0 杭州美创科技有限公司 版权所有 @2017</p>
            </div>
        </div>
    </div>
</div>
