<div class="row nav-pager j-navPager">
    <nav class="col-lg-6 col-md-6 ul-info">
        <ul class="pagination pull-left">
            <li class="brief"><em class="page-info">共 {{pager.total}} 条，每页显示&nbsp;&nbsp;</em></li>
            <li class="brief">
                <select class="form-control pageSize" name="pageSize" ng-model="pager.pageSize" ng-options="item for item in pager.pageSizeOptions"></select>
            </li>
            <li class="brief"><em class="page-info">&nbsp;&nbsp;条</em></li>
        </ul>
    </nav>
    <nav class="col-lg-6 col-md-6" aria-label="Page navigation">
        <ul class="pagination pull-right ul-pager">
            <li class="prev" ng-class="{true:'disabled',false:''}[pager.curPage <= 1]">
                <a role="button" aria-label="Previous" ng-click="gotoPage('Prev')">
                  <span aria-hidden="true"><i class="icon-prev"></i></span>
                </a>
            </li>
            <li class="item" ng-show="pager.curPage>2"><a role="button" ng-click="gotoPage(1)">1</a></li>
            <li class="item" ng-show="pager.curPage>3"><a role="button" ng-click="gotoPage(2)">2</a></li>
            <li class="dot" ng-show="pager.curPage>4"><span>...</span></li>
            <li class="item" ng-show="pager.curPage>1"><a role="button" ng-click="gotoPage(pager.curPage-1)">{{pager.curPage-1}}</a></li>
            <li class="active"><a role="button" ng-click="gotoPage(pager.curPage)">{{pager.curPage}}</a></li>
            <li class="item" ng-show="pager.totalPage>pager.curPage"><a role="button" ng-click="gotoPage(pager.curPage+1)">{{pager.curPage+1}}</a></li>
            <li class="dot" ng-show="pager.totalPage-pager.curPage>3"><span>...</span></li>
            <li class="item" ng-show="pager.totalPage-pager.curPage>2"><a role="button" ng-click="gotoPage(pager.totalPage-1)">{{pager.totalPage-1}}</a></li>
            <li class="item" ng-show="pager.totalPage-pager.curPage>1"><a role="button" ng-click="gotoPage(pager.totalPage)">{{pager.totalPage}}</a></li>
            <li class="next" ng-class="{true:'disabled',false:''}[pager.curPage >= pager.totalPage]">
                <a role="button" aria-label="Next" ng-click="gotoPage('Next')">
                    <span aria-hidden="true"><i class="icon-next"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
